{% extends "layout.html" %}

{% block back %}
<h3><a href="/">Go Back</a></h3>
{% endblock %}
{% block content %}
<h1>{{ stock.symbol }}</h1>
<h3>{{ stock.name }}</h3>

  <table class="ui inverted table">
    <thead>
      <tr>
        <th>Date</th>
        <th>Open</th>
        <th>High</th>
        <th>Low</th>
        <th>Close</th>
        <th>Volume</th>
      </tr>
    </thead>
    <tbody>
      {% for bar in bars %}
        <tr>
          <td>{{ bar.date }}</td>
          <td>{{ bar.open }}</td>
          <td>{{ bar.high }}</td>
          <td>{{ bar.low }}</td>
          <td>{{ bar.close }}</td>
          <td>{{ bar.volume }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}